# project files
.idea
project
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer
/vendor
composer.phar

# yii files
protected/runtime/*
!protected/runtime/.gitignore
config/db.php
